@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 60px;
}
h2{
    font-size: 45px;
    line-height: 55px;
}
h4{
    font-size: 20px;
}
h5{
    font-weight: 700;
    font-size: 13px;
}
p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: rgb(59, 56, 56);
}
.section-p1{
    padding: 40px 80px;
} 
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
.logo{
    height: 50px;

}
#header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 99;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(36, 28, 28);
    transition: 0.3s ease;
}
#nav li a:hover,
#nav li a.active{
    color: #FD7272;
}
#nav li a:hover::after,
#nav li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: aqua;
    position:absolute;
    bottom: -4px;
    left: 20px;
}
#ham{
    display: none;
    align-items: center;
}
#close-nav{
    display: none;
}
/* hero section start */
#hero{
    background:no-repeat url('https://th.bing.com/th/id/OIP.vEaolieMtXvlwokv2GTTkAAAAA?pid=ImgDet&rs=1');
    background-position: top 25% right;
    /* background-size: cover; */
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
   color: darkcyan;
}
#hero button{
    color: black;
    font-weight: 600;
    height: 50px;
    padding: 15px 50px;
    border:1.5px solid black;
    border-radius: 5px;
    background-color: transparent;
    cursor:pointer;
    font-size: 15px;
    
}
#hero button:hover{
    transition: 0.3s ease;
    background-color: #FD7272;
    border: 1.5px solid aqua;
    color: darkcyan;
}
/* feature box start */
#feature img{
    width: 120px;
    padding: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feat{
    width: 180px;
    text-align: center;
    padding: 25px 15x;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0px;
}
#feature .feat:hover{
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.1);
}
#feature .feat h6{
    display: inline-block;
    font-size: 15px;
    background-color: #cce7d0;
    color: rgb(36, 28, 28);
    padding: 4px 4px;
}

.pop-container .pro img{
    width: 200px;
    border-radius: 20px;
}

#popProduct{
    text-align: center;
}
#popProduct .pop-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pop-container .pro{
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.04);
    margin: 15px 0;
    transition: 0.2s ease;
}
#popProduct .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#popProduct .pro .product-description{
    text-align: start;
    padding: 10px 0;
}
#popProduct .pro .product-description span{
    color: grey;
    font-size: 12px;
}
#popProduct .pro .product-description h5{
    padding-top: 7px;
    color: black;
    font-size: 15px;
}
#popProduct .pro .product-description i{
    font-size: 12px;
    color: gold;
}
#popProduct .pro .product-description h4{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 700;
    color: darkcyan;
}
#popProduct .pro .fa-shopping-cart{
    width: 40px;
    height: 40px;
    line-height:40px;
    border-radius: 5px;
    background-color:antiquewhite;
    color: darkcyan;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#poster{
    width: 100%;
    height: 70vh;
    background: url('https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/8/1/70a3d1a4-f16a-45ca-9bb4-64dc2315352b1659297228544-Desktop-Banners_unisex-with-kids.jpg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#banner .box1{
    color: white;
    min-width: 580px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:no-repeat url('https://images.unsplash.com/photo-1572804013309-59a88b7e92f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=446&q=80');
    background-size: 100%;
    background-size: cover;
    background-position: center;
    padding: 30px;
    
}
#banner .box2{
    background:no-repeat url('https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17240498/2022/3/16/0dcb84cb-f142-4770-80cd-617bc0fb26011647414184409-DILLINGER-Men-Tshirts-3341647414183886-1.jpg');
}
#banner h4{   
    font-size: 20px;
    font-weight: 300;
}
#banner h2{
    font-weight: 800;
}
#banner span{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s ease;
}
#banner .box1:hover button{
    
    background-color: darkcyan;
    color: white;
    border: 1px solid cyan;
}

#saleBanner{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    flex-wrap: wrap;
}
#saleBanner .box1,#saleBanner .box2,#saleBanner .box3{
    color: white;
    min-width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:no-repeat url('https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15654426/2021/10/6/7e0abdfc-0430-46d5-af8b-e34e79ffcbd41633502377365-Computerised-Jacquard-Sweater-6701633502376814-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#saleBanner h2{
    color: #FD7272;
    font-weight: 900;
    font: 22px;
}
#saleBanner h3{
    color: black;
    font-weight: 800;
    font-size: 15px;
}
#saleBanner .box2{
    background-image: url('https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18979712/2022/7/6/d25b320c-bcb7-46ee-8828-54a8dd0c84291657090858261USPoloAssnMenOffWhitePUSneakers1.jpg');
}
#saleBanner .box3{
    color: black;
    background-image: url('https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12221944/2020/8/14/b9fc8ee9-ec92-4557-ab60-000e3779291e1597404329638-SASSAFRAS-Women-White-Solid-Top-8171597404327851-1.jpg');
}


#contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3B3B98;
    height: 200px;
    color: white;
    margin-bottom: 100px;
}
#contact h4{
    font-size: 23px;
    font-weight: 700;
    color: white;
}
#contact p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(198, 198, 198);
}
#contact p span{
    color: gold;
}
#contact input{
    height: 3.1rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#contact button{
    height: 3.1rem;
    padding: 0 1.8em;
    background-color: darkcyan;
    color: white;
    white-space: nowrap;
    outline: none;
    border: 1px solid darkcyan;
    border-radius: 4px;
}
#contact .contact-form{
    display: flex;
    width: 40%;
}

footer{
    position: relative;
    width: 100%;
    height: 300px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-sect{
    margin-left: 10px;
}
.footer-info{
    display: flex;
    justify-content: space-around;
}
.footer-head{
    font-size: 23px;
    color: #FD7272;
    font-weight: 800;
}
.footer-sect > *{
    padding-bottom: 10px;
}
.footer-app{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-app h3{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 5px;
}
.app-sect img{
    width: 150px;
}
.pay-img img{
    width: 60px;
    padding: 0 2px;
}

/* media queries */
@media (max-width:799px){
    #header{
        width: 100vw;
    }
    .section-p1{
        padding: 40px 40px;
    }
    #nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -500px;
        height: 100vh;
        width: 500px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }
    #nav.active{
        right: 0;
    }
    #nav li{
        margin-bottom: 25px;
    }
    #ham{
        display: flex;
    }
    #ham i{
        color: #1a1a1a;
        font-size: 30px;
        padding-left: 24px;
    }
    #close-nav{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 25px;
        color: black;
        transition: 0.3s ease;
    }
    #shop-bag{
        display: none;
    }
    #hero {
        /* background-size: cover; */
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 5%;
    }
    #feature {
        justify-content: center;
        flex-wrap: wrap;
    }
    #feature .feat {
      
        margin: 15px 15px;
    }
    #popProduct .pop-container {
       
        justify-content: center;
    }
    .pop-container .pro {
        
        margin: 25px;
        
    }
    #poster {
        height: 20vh;
    }
    #banner{
      flex-wrap: wrap;  
    }
    #banner .box1 {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }
    #saleBanner {
        padding: 0 30px;
    }
    #saleBanner .box1{
        width: 28%;
    }
}
@media (max-width:477px) {
    .section-p1{
        padding: 20px;
    }
    .logo{
        height: 45px;
    }
    #header{
        padding: 20px 35px;
    }
    #hero {
        background-position:top 25%right -200px;
        /* background-size: cover; */
        
        padding: 0 20px;
    }
    #hero h2{
        font-size: 33px;
    }
    #hero h1{
        font-size: 44px;
    }
    #hero button {
        padding: 15px 40px;
    
    }
    .hero-span{
        color: white;
    }
    .pop-container .pro {
        margin: 10px;
    }
    #poster{
        background-size: 100% 110px;
    }
    #banner{
        padding: 40px 10px;
    }
    #saleBanner{
        padding: 10px;
        justify-content: space-between;
    }
    #saleBanner .box1{
        padding: 5px;
        width: 28%;
        
    }
    #saleBanner h2{
        font-size: 20px;
        line-height: 20px;
        color: #FD7272;
    }
    #saleBanner h3{
        color: black;
    }
    #feature .feat {
        width: 155px; 
        margin: 10px 0px;
    }
    #contact input {
        width: 200px; 
    }
    footer{
        padding: 0 7px;
    }
    .footer-head {
        font-size: 17px;
    }
    .footer-sect h3{
        font-size: 15px;
    }
    .payment-gate p{
        font-size: 10px;
    }
    .pay-img img{
        width: 40px;
    }
}
