*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    line-height: 60px;
}
h2{
    font-size: 45px;
    line-height: 55px;
}
h4{
    font-size: 20px;
}
h5{
    font-weight: 700;
    font-size: 13px;
}
p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: rgb(59, 56, 56);
}
.section-p1{
    padding: 40px 80px;
} 
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
.logo{
    height: 50px;

}
#header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: antiquewhite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 99;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(36, 28, 28);
    transition: 0.3s ease;
}
#nav li a:hover,
#nav li a.active{
    color: aqua;
}
#nav li a:hover::after,
#nav li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: aqua;
    position:absolute;
    bottom: -4px;
    left: 20px;
}

/* hero section start */
#hero{
    background:no-repeat url('https://th.bing.com/th/id/OIP.vEaolieMtXvlwokv2GTTkAAAAA?pid=ImgDet&rs=1');
    background-position: top 25% right;
    /* background-size: cover; */
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
   color: darkcyan;
}
#hero button{
    color: black;
    height: 100px;
    background:no-repeat url('https://th.bing.com/th/id/OIP.t7KwYz8Hr0L5Jd2UwDh-OQHaDN?pid=ImgDet&rs=1');
    background-size: cover;
    background-color: transparent;
    border: 0;
    padding: 15px 80px;
    cursor:pointer;
    font-size: 15px;
}

/* feature box start */
#feature img{
    width: 120px;
    padding: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feat{
    width: 180px;
    text-align: center;
    padding: 25px 15x;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0px;
}
#feature .feat:hover{
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.1);
}
#feature .feat h6{
    display: inline-block;
    font-size: 15px;
    background-color: #cce7d0;
    color: rgb(36, 28, 28);
    padding: 4px 4px;
}

.pop-container .pro img{
    width: 200px;
}

#popProduct{
    text-align: center;
}
#popProduct .pop-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pop-container .pro{
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.04);
    margin: 15px 0;
    transition: 0.2s ease;
}
#popProduct .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#popProduct .pro .product-description{
    text-align: start;
    padding: 10px 0;
}
#popProduct .pro .product-description span{
    color: grey;
    font-size: 12px;
}
#popProduct .pro .product-description h5{
    padding-top: 7px;
    color: black;
    font-size: 15px;
}
#popProduct .pro .product-description i{
    font-size: 12px;
    color: gold;
}
#popProduct .pro .product-description h4{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 700;
    color: darkcyan;
}
#popProduct .pro .fa-shopping-cart{
    width: 40px;
    height: 40px;
    line-height:40px;
    border-radius: 5px;
    background-color:antiquewhite;
    color: darkcyan;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#poster{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:no-repeat url('https://rukminim1.flixcart.com/fk-p-flap/3006/433/image/9f8f3f2b3c0f2691.jpg?q=50');
    background-size: cover;
    background-position: center;
    
}
#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#banner .box1{
    color: white;
    min-width: 580px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:no-repeat url('https://images.hdqwalls.com/download/red-dress-girl-flower-bed-4k-cb-1920x1080.jpg');
    background-size: 100%;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#banner .box2{
    background:no-repeat url('https://c.wallhere.com/photos/29/07/abstract_topf25_colors_nikon_edinburgh_tshirt_nikond50_clothes-1105650.jpg!d');
}
#banner h4{   
    font-size: 20px;
    font-weight: 300;
}
#banner h2{
    font-weight: 800;
}
#banner span{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s ease;
}
#banner .box1:hover button{
    
    background-color: darkcyan;
    color: white;
    border: 1px solid cyan;
}

#saleBanner{
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
    flex-wrap: wrap;
}
#saleBanner .box1,#saleBanner .box2,#saleBanner .box3{
    color: white;
    min-width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:no-repeat url('https://wallpapersmug.com/download/1920x1080/7754b4/store-shopping-anime-girl.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#saleBanner h2{
    color: white;
    font-weight: 900;
    font: 22px;
}
#saleBanner h3{
    color: white;
    font-weight: 800;
    font-size: 15px;
}
#saleBanner .box2{
    background-image: url('https://wallpapercave.com/wp/qtHXk2l.jpg');
}
#saleBanner .box3{
    color: black;
    background-image: url('https://th.bing.com/th/id/R.3822294bb579b0ac460d4d80f33ba190?rik=YJ6Y2chHjcRrrA&riu=http%3a%2f%2ffiles.all-free-download.com%2fdownloadfiles%2fwallpapers%2f1920_1080%2fshopping_girl_wallpaper_vector_3d_2.jpg&ehk=aEyGoYOt%2fQ9pQsvMChOIkCs%2bJM0FWLbpELpzALXx5nc%3d&risl=&pid=ImgRaw&r=0');
}


#contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(22, 46, 152);
    height: 200px;
    color: white;
}
#contact h4{
    font-size: 23px;
    font-weight: 700;
    color: white;
}
#contact p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(198, 198, 198);
}
#contact p span{
    color: gold;
}
#contact input{
    height: 3.1rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#contact button{
    height: 3.1rem;
    padding: 0 1.8em;
    background-color: darkcyan;
    color: white;
    white-space: nowrap;
    outline: none;
    border: 1px solid darkcyan;
    border-radius: 4px;
}
#contact .contact-form{
    display: flex;
    width: 40%;
}